/* full webpage formatting*/
body{
    background-color: lightcoral;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:midnightblue;
    line-height: 1.5;
    margin:0px;
    padding: 15px;

}
header{
    

}
/* name formatting */
h1{
    display: inline;
    text-align: center;
    font-weight: bold;
    font-size: 65px;
    
/* nav formatting */
}
nav{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    background-color: turquoise;
    justify-content: space-evenly;
    font-size: 27px;
}

img {
    width: 500px;;

}
